:root {
  --dourado: #b2985f;
  --caramelo: #77531c;
  --vermelho: #6d0101;
  --gelo: #d9faff;
  --fundo: #e8e2d1;
  --amarelo: #f7b236;
  --azul: #007fbb;
  --fonte_cormorant: "Cormorant";
  --fonte_inter: "Inter";
}
