* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --dourado: #b2985f;
  --caramelo: #77531c;
  --vermelho: #6d0101;
  --gelo: #d9faff;
  --fundo: #e8e2d1;
  --fonte_cormorant: "Cormorant";
  --fonte_inter: "Inter";
}
